<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.practice.mall.mapper.UserMapper">

    <select id="login" resultType="com.practice.mall.pojo.User">
        select * from user where user_loginaccount=#{userLoginAccount} AND user_loginpassword=#{userLoginPassword}
    </select>
    <select id="queryUser" resultType="com.practice.mall.pojo.User">
        select * from user where user_name=#{userName}
    </select>
    <select id="getAdminUser" resultType="com.practice.mall.pojo.User">
        select * from user where identity_id=1
    </select>
    <select id="getCustomer" resultType="com.practice.mall.pojo.User">
        select * from user where identity_id=2
    </select>

    <insert id="creatUser" parameterType="com.practice.mall.pojo.User">
        insert into user(user_name,user_loginaccount,user_loginpassword,identity_id,address,create_time)
        values (#{userName},#{userLoginAccount},#{userLoginPassword},#{identityId},#{address},#{creatTime})
    </insert>

    <delete id="deleteUser" parameterType="java.lang.Integer">
        delete from user where user_id=#{userId}
    </delete>

    <update id="updateUser" parameterType="com.practice.mall.pojo.User">
        update user set user_name=#{userName},user_loginaccount=#{userLoginAccount},
                        user_loginpassword=#{userLoginPassword},identity_id=#{identityId},address=#{address}
        where user_id=#{userId}
    </update>

</mapper>

